<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="Text2Speech là trang web tiên tiến và dễ sử dụng, giúp bạn chuyển đổi text thành giọng nói của bạn dễ dàng. Với giao diện người dùng trực quan, tất cả những gì bạn cần làm là nhập văn bản, chọn âm ly và nhanh chóng, bạn sẽ có âm thanh của bạn đã được tạo ra một cách hiệu quả. Xem xét thêm các tùy chọn để tùy chỉnh như tốc độ nói, âm sắc và tính năng nhận dạng cú pháp để tạo nên giọng nói đầy cá tính. ">
        <meta name="keywords" content="text to speech">
        <meta name="author" content="Tien.TT">
        <title>Text2Speech: Chuyển Đổi Văn Bản thành Giọng Nói</title>
        <link rel="icon" type="image/x-icon" href="/public/imgs/logo_icon.png">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/app.css">
        <script src="../../../node_modules/axios/dist/axios.js"></script>
    </head>
    <body>
        <div>
            <div>
                <div class="contai_nav_home shadow">
                    <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light fw-bold" href="#">Text2Speech</a>
                        <div class="d-flex">
                            <a href="/auth/login"  class="btn btn-outline-light mx-2">Sign up</a>
                            <a href="/auth/login"  class="btn btn-outline-light">Sign in</a>
                        </div>
                        </div>
                    </div>
                    </nav>
                </div>
                
                <div class="container w-100 my-5">
                    {{!-- <div class="d-flex text-light justify-content-between px-3 py-2 title_input">
                        <div>
                            <h6>Gửi yêu cầu cho AI</h6>
                        </div>
                        <div class="d-flex">
                            <div class="wrapper d-none">
                                <p style="margin-bottom: 0px;">AI đang xử lý</p>
                                <ul class="">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div>
                                <button type="button" id="askAI" class="btn btn-outline-light shadow-none btn-sm">Gửi</button>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- <div class="bg-light ">
                        <textarea class="w-100 p-3" id="text-prompt" rows="5" placeholder="enter your prompt..."></textarea>
                    </div> --}}
                    <div class="d-flex justify-content-between px-3 py-2 title_input mt-3">
                        <div>
                            <h6 class="text-light">Chuyển văn bản thành giọng nói</h6>
                        </div>
                        <div class="text-light">
                            <span id="textLength">0</span>
                            <span>/</span>
                            <span>1000</span>
                        </div>
                    </div>
                    <div class="bg-light ">
                        <textarea class="w-100 p-3" id="text" rows="10" placeholder="enter text..."></textarea>
                    </div>
                    <div class="p-3 bg-light d-flex justify-content-between shadow">
                        <div class="contai_voices">
                            <select class="form-control shadow-none content_voices" size="1" id="voiceId">
                                {{#each voicesId}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="text-light">
                            <audio id="myAudio" src="#" preload="auto">
                            </audio>
                            <button type="button" id="convert" class="btn text-whitw" style="background-color:#00bcd4">Chuyển đổi</button>
                            <button type="button" id="play" class="btn btn-danger" style="display: none;">Đọc</button>
                            <a id="download" class="" href="#"  download="voice-text-to-speech.mp3" style="display:none; color:white">Tải file MP3</a>
                        </div>
                    </div>
                </div>
                
                {{!-- <div class="container w-75 py-5" id="servicePrices">
                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal" style="color: #00bcd4">Bảng Giá Dịch Vụ</h1>
                <p class="fs-5 text-muted">Khám phá thông tin bảng giá dịch vụ của <sapn style="color: #00bcd4;">Text2Speech</sapn> ngay tại đây. Tất cả các dịch vụ đều có bản dùng thử miễn phí.</p>
                </div>
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Cá nhân</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">0<small class="text-muted fw-light">/tháng</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li>5.000 ký tự/ngày</li>
                            <li>Sử dụng 1 thiết bị</li>
                            <li>5 lần tải file/ngày</li>
                            <li>4 Giọng đọc tiêu chuẩn</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg" style="border-color: #00bcd4; color: #00bcd4">Đăng ký miễn phí</button>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Chuyên nghiệp</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">119,000<small class="text-muted fw-light">/tháng</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li>2.500.000 ký tự/tháng</li>
                            <li>20.000 ký tự xử lý tối đa/chuyển đổi</li>
                            <li>Sử dụng trên 5 thiết bị</li>
                            <li>Không giới hạn lượt tải xuống</li>
                            <li>Thời gian lưu trữ: 30 ngày</li>
                            <li>Giọng đọc Việt Nam cao cấp</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg"  style="background-color:#00bcd4">Bắt đầu ngay</button>
                        </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm" style="border-color: #00bcd4;">
                        <div class="card-header py-3" style="background-color: #0f171c; border:#00bcd4; color:#00bcd4">
                            <h4 class="my-0 fw-normal">Doanh nghiệp</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">349,000<small class="text-muted fw-light">/tháng</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                            <li>4.000.000 ký tự/tháng</li>
                            <li>20.000 ký tự xử lý tối đa/chuyển đổi</li>
                            <li>Không giới hạn thiết bị</li>
                            <li>Không giới hạn lượt tải xuống</li>
                            <li>Thời gian lưu trữ: 45 ngày</li>
                            <li>Giọng đọc Việt Nam cao cấp</li>
                            <li>Giọng đọc Quốc tế (50+ ngôn ngữ, 200+ giọng đọc)</li>
                            <li>Ứng dụng di động (iOS & Android)</li>
                            <li>Xuất hóa đơn VAT</li>
                            <li>Cung cấp API</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg" style="background-color:#00bcd4">Liên hệ chúng tôi</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>     --}}
                <div class = "container contact p-4 shadow  mb-1 bg-white">
                    <div class="w-100 text-center">
                        <div class="w-100 pb-4 mb-3 position-relative">
                        <h1 style="color:#00bcd4" class="">LIÊN HỆ</h1>
                        <div class="position-absolute bg-secondary top-100 start-50 translate-middle w-25 border-bottom" ></div>
                        </div>
                        <ul>
                            <li><a href="#"><img src="/public/imgs/fab.png" alt="" width="50px"></a></li>
                            <li><a href="#"><img src="/public/imgs/zalo.png" alt=""  width="50px"></a></li>
                            <li><a href="#"><img src="/public/imgs/gmail.png" alt="" width="50px"></a></li>
                        </ul>
                        <p>0325187911 - 0901915121</p>
                    </div>
                    <div class="container">
                        <form action="">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-5 col-12">
                                    <div class="form-outline mb-4">
                                    <input type="email" id="form5Example27" placeholder="Enter Your Email..." class="form-control" />
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn mb-4" style="background-color:#00bcd4">
                                    Đăng Ký
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="contai_popup d-none popup_active">
                <div class="bg-white content_popup">
                    <div class="w-100 text-end p-1 border-bottom "><button type="button" class="btn btn-outline-secondary btn-sm popup_x">X</button></div>
                    <div class="p-4 border-bottom">Thiết bị này đã sử dụng hết 5 lần miễn phí!</div>
                    <div class="p-2 pb-3 text-end"><button type="button" class="btn btn-outline-secondary btn-sm popup_btn">Đóng</button>
                    <a href="#"><button type="button" class="btn btn-outline-info btn-sm">Đăng ký</button></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
        <script src="/public/css/landing/clientHandle/index.js"></script>
        <script src="/public/css/landing/popup.js"></script>
    </body>
</html>





