<div>
    <div class="px-5 contai_nav shadow">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid d-flex justify-content-between  ">
                <div>
                    <a class="navbar-brand" style="color: #ffe057" href="#">2VOI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>   
                </div>
                <div class="me-5" id="navbarNavDropdown ">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" style="color: white;" href="#servicePrices">Bảng giá</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#contact" style="color: white;">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container w-75 my-5">
        <div class="d-flex justify-content-between px-3 py-2 title_input">
            <div>
                <h6>Gửi yêu cầu cho AI</h6>
            </div>
            <div>
                <button type="button" id="askAI" class="btn btn-primary">Gửi</button>
            </div>
        </div>
        <div class="bg-light ">
            <textarea class="w-100 p-3" id="text-prompt" rows="5" placeholder="enter your prompt..."></textarea>
        </div>
        <div class="d-flex justify-content-between px-3 py-2 title_input mt-3">
            <div>
                <h6>Chuyển văn bản thành giọng nói</h6>
            </div>
            <div>
                <span id="textLength">0</span>
                <span>/</span>
                <span>1000</span>
            </div>
        </div>
        <div class="bg-light ">
            <textarea class="w-100 p-3" id="text" rows="10" placeholder="enter text..."></textarea>
        </div>
        <div class="p-3 bg-light d-flex justify-content-between shadow">
            <div>
                <select class="form-control" id="voiceId">
                    <option value="vi-VN-Standard-A">Ngọc Hân</option>
                    <option value="vi-VN-Standard-B">Quang Dũng</option>
                    <option value="vi-VN-Standard-C">Huyền My</option>
                    <option value="vi-VN-Standard-D">Khánh Trung</option>
                </select>
            </div>
            <div>
                <audio id="myAudio" src="#" preload="auto">
                </audio>
                <button type="button" id="convert" class="btn" style="background-color:#ffe057">Chuyển đổi</button>
                <button type="button" id="play" class="btn btn-danger" style="display: none;">Đọc</button>
                <a id="download" class="" href="#"  download="voice-text-to-speech.mp3" style="display:none; color:white">Tải file MP3</a>
            </div>
        </div>
    </div>
    
    <div class="container w-75 py-5" id="servicePrices">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Bảng Giá Dịch Vụ</h1>
      <p class="fs-5 text-muted">Khám phá thông tin bảng giá dịch vụ của 2Voi  ngay tại đây. Tất cả các dịch vụ đều có bản dùng thử miễn phí.</p>
    </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Cá nhân</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">0<small class="text-muted fw-light">/tháng</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>5.000 ký tự/ngày</li>
                <li>Sử dụng 1 thiết bị</li>
                <li>5 lần tải file/ngày</li>
                <li>4 Giọng đọc tiêu chuẩn</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg" style="border-color: #ffe057; color: #e4be10">Đăng ký miễn phí</button>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Chuyên nghiệp</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">119,000<small class="text-muted fw-light">/tháng</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>2.500.000 ký tự/tháng</li>
                <li>20.000 ký tự xử lý tối đa/chuyển đổi</li>
                <li>Sử dụng trên 5 thiết bị</li>
                <li>Không giới hạn lượt tải xuống</li>
                <li>Thời gian lưu trữ: 30 ngày</li>
                <li>Giọng đọc Việt Nam cao cấp</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg"  style="background-color:#ffe057">Bắt đầu ngay</button>
            </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm" style="border-color: #ffe057;">
            <div class="card-header py-3" style="background-color: #0f171c; border:#ffe057; color:#ffe057">
                <h4 class="my-0 fw-normal">Doanh nghiệp</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">349,000<small class="text-muted fw-light">/tháng</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                <li>4.000.000 ký tự/tháng</li>
                <li>20.000 ký tự xử lý tối đa/chuyển đổi</li>
                <li>Không giới hạn thiết bị</li>
                <li>Không giới hạn lượt tải xuống</li>
                <li>Thời gian lưu trữ: 45 ngày</li>
                <li>Giọng đọc Việt Nam cao cấp</li>
                <li>Giọng đọc Quốc tế (50+ ngôn ngữ, 200+ giọng đọc)</li>
                <li>Ứng dụng di động (iOS & Android)</li>
                <li>Xuất hóa đơn VAT</li>
                <li>Cung cấp API</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg" style="background-color:#ffe057">Liên hệ chúng tôi</button>
            </div>
            </div>
        </div>
        </div>
    </div>    
    <div id = "contact">
        <footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Để lại thông tin liên hệ</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example27" placeholder="Enter Your Email..." class="form-control" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn mb-4" style="background-color:#ffe057">
              Đăng Ký
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center  py-3 gx-5" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="p-4 mx-auto rounded-4 col-5" style="background-color: #0f171c; color:#ffe057">
        <strong class="me-5">2VOI</strong>
        <strong class="me-5">090 191 5121</strong>
        <strong>tutrogtien1996@gmail</strong>
    </div>
  </div>
  <!-- Copyright -->
</footer>
    </div>
</div>




