<div class="bg-light rounded-2 p-2 d-flex top_content">
    <div>
        <input id="fileText" type="file" class="d-none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .txt" />
        <label for="fileText" class="btn btn-outline-secondary btn-lg me-4">Tải file .txt</label>
    </div>
    {{!-- <div>
        <button type="button" class="btn btn-outline-info btn-lg btn_use_ai">Sử Dụng AI</button>
    </div> --}}
</div>