
<div id="table_product" class="mt-3 contai_table">
    <table class="">
        <thead>
            <tr>
                <th class="p-2 py-3"><input type="checkbox"></th>
                <th><div class="col_title">Tiêu đề</div></th>
                <th><div class="col_chars">Ký tự</div></th>
                <th><div class="col_date">Thời gian</div></th>
                <th><div class="col_status">Trạng thái</div></th>
                <th><div class="col_voices">Giọng đọc</div></th>
                <th><div class="col_action">Thành công</div></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>