$blue-color: #0f171c;
$body-color: rgb(214, 214, 214);
$title-input: rgb(172, 172, 172);
$trademark: #00bcd4;
$title-page-color:  #565656;
$body-cl: rgb(232, 231, 231);


//border-bottom
$border1: 1px solid  #b8b8b8;
$border2: 1px solid  #949393;


//text
$text-black2: #4f4f4f