@import 'variables';
@import 'conversation.scss';
@import 'common.scss';
@import 'sideBar.scss';

* {
    box-sizing: border-box;
}


.contai_body {
    box-sizing: border-box;
    background-color: var($body-color) 
}

//css content

.contai_content{
    box-sizing: border-box;
    width: calc(100% - 280px);
    height: 100vh;
    transition: all 0.1s linear;
    background-color: $body-cl;
    overflow-y: scroll;
}
.contai_content_full {
    transition: all  0.1s linear;
    width: 100%;
}
.contai_content_full .top_content{
    margin-left: 50px ;
}


.edit_voices {
    position: relative;
}
 .categories_voices_container{
    max-height: 300px ;
    overflow-y: scroll;
    position: absolute;
}

.contai_content  .categories_voices {
    list-style-type: none;
    background-color: #ffffff;
}
.contai_content .text_input{
    box-sizing: border-box;
}

.contai_content thead tr {
    color: white;
    background-color: $trademark;
}
.contai_content .contai_table {
    padding: 10px;
    background-color: white;
    overflow-x: scroll;
}
.contai_content .contai_table table{
    width: 100% !important;
}
.contai_content .contai_table tr {
    padding: 15px !important;
}
.contai_content .contai_table .col_title {
    width: calc(100% - 650px);
    min-width: 320px;
}
.contai_content .contai_table .col_chars {
    width: 60px;
}
.contai_content .contai_table .col_date {
    width: 170px;
}
.contai_content .contai_table .col_status {
    width: 100px;
}
.contai_content .contai_table .col_voices {
    width: 140px;
}
.contai_content .contai_table .col_action {
    width: 130px;
}
.contai_content .contai_table tbody tr:hover {
    background-color: rgb(194, 250, 250);
}

.filter_check > div {
    min-width: 140px;
    max-width: 160px;
    box-sizing: border-box;
}
.filter_check div div {
    border: 1px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 5px;
  
}
.filter_check div div:hover {
    border: 1px solid rgb(0, 0, 0);

}
.filter_check div div:focus-within{
    border: 2px solid $trademark;
}
.filter_check div div input {
    outline: none; 
    border:none
}
.filter_check div input {
    max-width: 140px;
    background-color: transparent;
}

.col_action li {
    cursor: pointer;
}

.contai_content .croll_audio{
    width: 0px;
    transition: width 10s;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(232, 231, 231)
}


//END CSS CONTENT 



// css menu nav




//popup 

.popup_view {
    width: 100% !important;
    margin: auto;
}

.contai_header {
    border: none !important;
}

.top_popup {
    background-color: $trademark;
}

.close_popup {
    position: absolute;
    top: 10px;
    left: 100%;
    transform: translateX(-200%);
}
ul {
    list-style-type: none;
  }

  //auth css
  .login_content_form {
    width: 375px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login_body {
    background-color: $trademark;
  }
  .login_body h2 {
    color: $trademark;
  }
  .login_body .submit {
    background-color: $trademark;
  }
  .login_body .submit:hover {
    background-color: rgb(10, 208, 208);
    color: white;
  }
  .login_body .submit_outline:hover{
    color: white;
  }



  //landing

.contai_nav_home {
    background-color: $trademark;
}
.contai_nav_home nav{
    background-color: $trademark;

}
.title_input {
    background-color: $trademark;
    border-top: 1px solid rgb(105, 105, 105);
    border-right: 1px solid rgb(105, 105, 105);
    border-left: 1px solid rgb(105, 105, 105);
}

textarea {
    outline: none;
}

#download {
    background-color: rgb(120, 120, 120);
    color: black;
    text-decoration: none;
    padding: 9px;
    padding-bottom: 10px ;
    border-radius: 4px;
}
#download:hover {
    background-color: rgb(140, 140, 140);
}


.contact ul{
    list-style-type: none;
}
.contact ul li{
    display: inline;
}
textarea:focus, input:focus{
    outline: none;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.wrapper ul {
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
    list-style: none;
    margin-top: 15px;
    li {
      width: 10px;
      height: 10px;
      opacity: 0;
      margin: 0 5px 0 0;
      background-color: #ececec;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          // height: 10px * $i;
          transition: opacity 100ms linear $i * 200ms;
        }
      }
    }
    &.active {
      li {
        opacity: 1;
      }
    }
  }

  //css popup
  .contai_popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(48, 39, 39, 0.5);
  }
  .content_popup{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
  }

  .play_text_details:hover,
  .view_text_details:hover,
  .download_text_details a:hover {
    color: #0dcaf0 !important;
  }
  .edit_text_details:hover{
    color: #9c6262;
    height: 20px;

  }
  .delete_text_details:hover{
    color: red;
  }


  

  //reponsive

  @media only screen and (max-width: 400px) {
    .content_popup {
      width: 100vw;
      padding: 5px;
    }
  }

  // loading
  

  .loading button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #0dcaf0;
    border: none;
    background: transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 5px;
  }
  
  .loading button > svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
 .loading button > svg > rect {
    fill: none;
    stroke: #0dcaf0;
    stroke-width: 1px;
    stroke-dasharray: 240 160 240 160;
    stroke-dashoffset: 0;
    animation: pathRect 2s linear infinite;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 100;
    }
  
    50% {
      stroke-dashoffset: 200;
    }
  
    75% {
      stroke-dashoffset: 300;
    }
  
    100% {
      stroke-dashoffset: 400;
    }
  }
  
  