@import 'variables';

.contai_nav {
    width: 280px;
    transition: width 0.1s linear;
    position: relative;
    padding: 16px;
}
.contai_nav_hide {
    padding: 0px !important;
    width: 0px;
    transition: all 0.1s linear;
    padding: 0px !important;
}
.logo{
    color: $trademark;
}
.contai_nav ul li {
    cursor: pointer;
}

.contai_nav ul li.active_nav {
    color: white;
    background-color: $trademark;
}
.contai_nav ul li:hover {
    color: #000;
}
.contai_nav ul li:hover {
    background-color: rgb(156, 240, 240);
}

.contai_nav_hide .icon_toggle{
    display: none;
}

.contai_content_list a {
    text-decoration: none;
    color: #000;
}
.contai_nav .icon_bar {
    position: absolute;
    top: 20px;
    left: calc(100% + 10px);
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
    z-index: 999;
}