    <div id="content_wrapper" class="contai_content p-2  position-relative">
        <div class="">
             <div class="bg-light rounded-2 p-2 d-flex">
               <h2 class="title_page">Conversation Form</h2>
            </div>
            <form id="conversationForm">
                <!-- Participant fields -->
                <div class="mt-2 rounded-2 p-3 bg-light">
                    <div id="participantsContainer" class="rounded-2 d-flex flex-column participantsContainer">
                        <div class="container_input_person d-flex">
                            <div class="contai_input_name">
                                <label for="participantId">Person Name 1:</label>
                                <input class="participantId common-input" type="text"  placeholder="Conversation name...">
                                <span></span>
                            </div>
                            <div class="contai_input_voice contai_input_name">
                                <label for="participantVoice">Voice Name:</label>
                                <select class="participantVoice">
                                {{#each voices}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                                </select>
                                <span></span>
                            </div>
                            <button type="button" class="btn btn-outline-secondary btn-sm  removeParticipantBtn">Remove</button>
                        </div>
                    </div>

                    <button type="button" id="addParticipantBtn" class="mt-2 btn btn-outline-info btn-sm ">Add Person</button>
                </div>
                <div class="mt-2 rounded-2 p-3 bg-light">
                <!-- Conversation field -->
                    <div class=" pb-2 pt-2 text_input">
                        <textarea id="conversation" class="w-100 shadow-none p-2"  placeholder="Nhập văn bản tại đây..."  rows="13"  style=" outline: none; border:none"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info text-light">Submit</button>
                </div>
            </form>
            <div id="audioWrapper" style="display: none;">
                <audio controls id="audioPlayer">
                    <source src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <br>
                <button onclick="downloadAudio()">Download MP3</button>
            </div>
        </div>
    </div>

    <script>
        var mp3URL = '';
        let sentenceId = 1; // Initialize the sentence ID counter
        let voiceSelection = `
            <select class="participantVoice">
                {{#each voices}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        `;
        // Function to add a new participant field
        function addParticipantField() {
            const participantDiv = document.createElement('div');
            participantDiv.innerHTML = `
                <div class="container_input_person d-flex">
                    <div class="contai_input_name">
                        <label for="participantId">Person Name 1:</label>
                        <input class="participantId common-input" type="text"  placeholder="Conversation name...">
                        <span></span>
                    </div>
                    <div class="contai_input_voice contai_input_name">
                        <label for="participantVoice">Voice Name:</label>
                        ${voiceSelection}
                        <span></span>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-sm removeParticipantBtn">Remove</button>
                </div>
            `;
            document.getElementById('participantsContainer').appendChild(participantDiv);
        }

        // Function to remove a participant field
        function removeParticipantField(event) {
            const participantDiv = event.target.parentNode;
            document.getElementById('participantsContainer').removeChild(participantDiv);
        }

        document.getElementById('addParticipantBtn').addEventListener('click', function () {
            addParticipantField();
        });

        document.getElementById('participantsContainer').addEventListener('click', function (event) {
            if (event.target.classList.contains('removeParticipantBtn')) {
                removeParticipantField(event);
            }
        });

        document.getElementById('conversationForm').addEventListener('submit', function (event) {
            event.preventDefault();

            // Get participants data
            const people = [];
            const participantFields = document.querySelectorAll('.participantId');
            const voiceFields = document.querySelectorAll('.participantVoice');
            participantFields.forEach((participantField, index) => {
                const person = {
                    id: participantField.value,
                    voice_id: voiceFields[index].value,
                };
                people.push(person);
            });

            // Get conversation data and add unique ID to each sentence
            const conversation = document.getElementById('conversation').value.split('\n')
                .map(message => {
                    const person = message.split(': ')[0];
                    const text = message.split(': ')[1];
                    const sentence = {
                        [person]: text
                    };
                    return sentence;
                });

            // Combine data into the desired format
            const formData = {
                voices: people,
                conversation: conversation,
            };

            // Convert data to JSON format
            const jsonData = JSON.stringify(formData);
            postData(formData, function() {
                showAudioSection();
            })

            // Clear the form fields
            
        });

        function postData(conversationData, successCB) {
            const cookies = document.cookie;
            axios.post('/api/convert/conversation', conversationData, {
                headers: {
                    'Content-Type': 'application/json',
                    'Cookie': cookies,
                },
            })
            .then(response => {
                mp3URL = response.data.data
                successCB()
            })
            .catch(error => {
                alert('Error:', error);
            });
        }

        function showAudioSection() {
            const audioWrapper = document.getElementById('audioWrapper');
            const audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.src = mp3URL;
            audioWrapper.style.display = 'block';
        }

        function downloadAudio() {
            const mp3Url = mp3URL;
            const link = document.createElement('a');
            link.href = mp3Url;
            link.download = "audio.mp3";
            link.click(); 
            link.remove();
        }
    </script>