<div class="d-flex justify-content-center vw-100  contai_body">
    <div class=" contai_nav p-3">
        <div class="d-flex justify-content-between border-bottom">
            <div class="fw-bold h2 logo">2VOICES</div>
            <div class="d-flex align-items-center icon_arrow" role="button"><i class="fa-sharp fa-solid fa-arrow-left icon_toggle" style="font-size: 24px; opacity: 60%"></i></div>
        </div>
        <div class="contai_content_list mt-3">
            <ul class="list-unstyled">
                <li class="rounded-2 my-2"><div class="p-2"><i class="fa-brands fa-studiovinari" style="font-size: 22px"></i><span class="h6 ms-3">Studio</span></div></li>
                <li class="rounded-2 my-2 active_nav"><div class="p-2"><i class="fa-solid fa-cart-shopping" style="font-size: 19px"></i><span class="h6 ms-3">Mua gói cước</span></div></li>
                <li class="rounded-2 my-2"><div class="p-2"><i class="fa-sharp fa-regular fa-circle-question" style="font-size: 19px"></i><span class="h6 ms-3">Câu hỏi thường gặp</span></div></li>
                <li class="rounded-2 my-2"><div class="p-2"><img src="/public/imgs/facebook.png" style="width: 22px;" alt=""><span class="h6 ms-3">Liên hệ facebook</span></div></li>
                <li class="border-bottom"></li>
                <li class="rounded-2 my-2"><div class="p-2"><i class="fa-solid fa-user"  style="font-size: 19px"></i><span class="h6 ms-3">user name</span></div></li>
            </ul>
        </div>
    </div>
    <div class=" contai_content p-2  position-relative">
        <div class="icon_bar d-none"><i class="fa-solid fa-bars" style="font-size: 22px"></i></div>
        <div class="bg-light rounded-2 p-2 d-flex top_content">
            <div>
                <input type="file" id="fileText" class="d-none"/>
                <label for="fileText" class="btn btn-outline-secondary btn-lg me-4">Tải file .txt</label>
            </div>
            {{!-- <div>
             <button type="button" class="btn btn-outline-info btn-lg btn_use_ai">Sử Dụng AI</button>
            </div> --}}
        </div>
        <div class="mt-2 rounded-2 p-3 bg-light">
            <div class="border-bottom pb-2">
                <input class="px-3 py-2 w-100" type="text" id="title" style=" outline: none; border:none" placeholder="Nhập Title...">
            </div>
            <div class="border-bottom d-flex pt-2 pb-3 px-3 edit_voices">
                <div class="px-2 categories_voices_container">
                    <ul class="categories_voices"  style="margin-bottom: 0px; padding-left: 0px">
                    </ul>
                </div>
                <div  class="px-2" style="max-height: 25px; margin-left: 150px; border-left: 1px solid rgb(39, 39, 39)">Âm lượng</div>
                <div class="px-2" style="max-height: 25px; border-left: 1px solid rgb(39, 39, 39)">Tốc độ</div>
            </div>
            <div class="border-bottom pb-2 pt-2 text_input  d-none contai_ai">
                <div class="mb-2 d-flex justify-content-between">
                    <div class="text-info">Gửi yêu cầu cho AI</div>
                    <div class="d-flex">
                        <div class='loading loading_AI me-2 d-none'>
                            <button>Đang xử lý...
                                <svg>
                                <rect x="1" y="1"></rect>
                                </svg>
                            </button>   
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-info" id="askAI">Gửi</button>
                            <button type="button" class="btn btn-outline-dark btn-sm hide_AI">X</button>
                        </div>
                    </div>
                </div>
                <textarea id="text-prompt" class="w-100 shadow-none p-2" placeholder="Nhập văn bản tại đây..."  rows="4"  style=" outline: none; border:none"></textarea>
            </div>
            <div class="border-bottom pb-2 pt-2 text_input">
                <textarea class="w-100 shadow-none p-2" id="text" placeholder="Nhập văn bản tại đây..."  rows="13"  style=" outline: none; border:none"></textarea>
            </div>
            <div class="p-2">
                <span>Bôi đen để nghe thử</span>
                <div class="d-flex justify-content-between">
                    <div><button type="button" class="btn btn-outline-secondary">Nghe thử</button></div>
                    <div class="d-flex align-items-center"><span>0/5000</span></div>
                    <div class="d-flex">
                        <div class='loading loading_convert me-2 d-none'>
                            <button>Đang xử lý...
                                <svg>
                                <rect x="1" y="1"></rect>
                                </svg>
                            </button>   
                        </div>
                        <div class="success_convert d-none"><button type="button" class="btn btn-outline-success">Đã xong!</button></div>
                        <div><button type="button" class="btn btn-info text-white" id="convert">Chuyển đổi</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 pt-3"> 
            <div class="contai_audio">
                <audio class="w-100" controls="true">
                    <source src="#"  type="audio/mp3">
                </audio>
            </div>
        </div>
        <div class="row gx-0 mt-3 d-flex justify-content-end filter_check">
            <div class="col p-1">
                <div><input type="text"  placeholder="Nhập tiêu đề"></div>
            </div>
            <div class="col p-1">
                <div><input type="text"  placeholder="trạng thái"></div>
            </div>
           <div class="col p-1">
                <div><input type="text"  placeholder="Bắc đầu"></div>
            </div>
            <div class="col p-1">
                <div><input type="text"   placeholder="Ngày kết thúc"></div>
            </div>
        </div>
        <div class="mt-3 contai_table">
            <table class="">
                <thead>
                    <tr>
                        <th class="p-2 py-3"><input type="checkbox"></th>
                        <th><div class="col_title">Tiêu đề</div></th>
                        <th><div class="col_chars">Ký tự</div></th>
                        <th><div class="col_date">Thời gian</div></th>
                        <th><div class="col_status">Trạng thái</div></th>
                        <th><div class="col_voices">Giọng đọc</div></th>
                        <th><div class="col_action">Thành công</div></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- The Modal view detail -->
<div class="modal" id="myModal">
  <div class="popup_view modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header contai_header position-relative">
        <div class="close_popup"> 
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <!-- Modal body -->
        <div class="modal-body">
            <div class="w-100 p-2 border top_popup text-center">
                <h5 class="modal-title text-white">Thông tin</h5>
            </div>
            <div class="row p-2 border gx-0">
                <div class="col">
                    <ul>
                        <li><div class="d-flex"><p class="fw-bold me-3 ">ID:</p><p class="view_id"></p></div></li>
                        <li><div class="d-flex"><p class="fw-bold me-3 ">Tiêu đề:</p><p class="view_title"></p></div></li>
                        <li><div class="d-flex"><p class="fw-bold me-3 ">Số ký tự:</p><p class="view_number_chars"></p></div></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><div class="d-flex"><p class="fw-bold me-3">Giọng đọc:  </p><p class="view_voice_name"></p></div></li>
                        <li><div class="d-flex"><p class="fw-bold me-3">Tốc độ:  </p><p>1.0x</p></div></li>
                        <li><div class="d-flex"><p class="fw-bold me-3">Âm lượng:  </p><p>100%</p></div></li>
                    </ul>
                </div>
            </div>
            <div class="border py-2 px-3">
                <h6 class="fw-bold">Nội dung</h6>
                <p class="view_content_text"></p>
            </div>
        </div>  
    </div>
  </div>
</div>




